
#logopng {
  border-radius: 50%
}

#username, #instabtn, #discordbtn, #pics, #logodiv  {
  text-align: center;
}

#smallbio, #mainpara {
  font-size: 12px;
  text-align: center;
}

#instabtn button, #discordbtn button {
  font-size: 20px;
  height: 40px;
  width: 200px;
}

#pic {
  height: 200px;
  width: 400px;
  border-radius: 10%
}

@media (min-width: 400px) and (max-width: 840px) {
  #pic {
    height: 100px;
    width: 200px;
  }
}

@media (max-width: 840px) {
  #pic {
    height: 70px;
    width: 140px;
  }
}

.yyyy {
  height: 50px;
  width: 50px;
  background-color: pink;
}